<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>duc.controllers.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>duc.controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>duc.controllers.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartController</servlet-name>
        <servlet-class>duc.controllers.AddToCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>duc.controllers.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartController</servlet-name>
        <servlet-class>duc.controllers.UpdateCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckDiscountController</servlet-name>
        <servlet-class>duc.controllers.CheckDiscountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateKeyCapController</servlet-name>
        <servlet-class>duc.controllers.CreateKeyCapController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateKeyCapController</servlet-name>
        <servlet-class>duc.controllers.UpdateKeyCapController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutCartController</servlet-name>
        <servlet-class>duc.controllers.CheckoutCartController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartController</servlet-name>
        <url-pattern>/AddToCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/SearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartController</servlet-name>
        <url-pattern>/UpdateCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckDiscountController</servlet-name>
        <url-pattern>/CheckDiscountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateKeyCapController</servlet-name>
        <url-pattern>/CreateKeyCapController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateKeyCapController</servlet-name>
        <url-pattern>/UpdateKeyCapController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutCartController</servlet-name>
        <url-pattern>/CheckoutCartController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
